canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}

.info-panel {
  position: fixed;
  top: 2px;
  right: 2px;
  display: flex;
  flex-direction: column;
  background-color: #0004;
  color: #fff;
  font-size: 12px;
  padding: 0.5em 1em;
  gap: 0.3em;
}
